.list {
  &__card {
    max-height: 292px;
    overflow-y: scroll;

    @media (max-width: 1000px) {
      max-height: 400px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: white;
      // display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0d6efd;
    }
  }
}
